@use 'abstracts' as *;

.service {
  height: 500px;
  background: $body-gradient;
  margin-top: 250px;
  position: relative;
  border-radius: 0 100px 0 100px;

  .phone {
    display: block;
    height: 75%;
    position: absolute;
    left: 50%;
    bottom: 300px;
    transform: translateX(-50%);
  }

  .service-info {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);

    .service-info-container {
      h1 {
        color: $white;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 1rem;
      }

      p {
        width: 80%;
        color: $graylishblue;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: 768px) {
  .service {
    height: 33vw;
    display: flex;
    justify-content: flex-end;
    margin-top: 10vw;

    .phone {
      height: 50vw;
      width: 50vw;
      position: absolute;
      top: -75px;
      left: 25vw;
    }

    .service-info {
      width: 50%;
      padding-inline: 1rem;
      position: static;
      transform: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .service-info-container {
        h1 {
          font-size: 24px;
          text-align: start;
        }

        p {
          max-width: 40ch;
          width: auto;
          text-align: start;
        }
      }
    }
  }
}

@media (min-width: 996px) {
  .service {
    .service-info {
      .service-info-container {
        h1 {
          font-size: 30px;
        }
        p {
          max-width: 55ch;
        }
      }
    }
  }
}
