@use 'abstracts' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.no-scroll,
html.no-scroll body {
  overflow: hidden;
}

html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  background-color: $white;
  font-family: $overpass;
  font-size: 16px;
  overflow-x: hidden;
}

p {
  color: $vdgraylishblue;
  line-height: 1.5rem;
}

button {
  font-family: $ubuntu;
  font-weight: 700;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
