@use 'colors' as *;

@mixin btn($bg1, $bg2, $c1, $c2) {
  display: block;
  border-radius: 50px;
  padding: 15px 20px;
  margin: 0 auto;
  font-size: 20px;
  background-color: transparent;

  &:first-child {
    background-color: $bg1;
    color: $c1;
  }

  &:last-child {
    background-color: $bg2;
    color: $c2;
  }
}

@mixin info {
  .info {
    h1 {
      width: 75%;
      margin: 0 auto;
      color: $vdblue;
      margin-block: 1rem;
    }

    p {
      width: 75%;
      text-align: center;
      margin: 0 auto;
      margin-block: 1rem;
    }
  }
}
